.faq-section {
  text-align: center;
  padding: 20px;
}

.faq-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #111111;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item {
  width: 80%;
  max-width: 600px;
  background: #e4f0f4;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.faq-question {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.faq-icon {
  color: white;
  font-size: 18px;
  background-color: #36454f;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 5px;
}

.faq-answer {
  margin-top: 8px;
  font-size: 14px;
  color: #111111;
  text-align: left;
}
