.testimonial-section {
  margin: 4rem 0;
  text-align: center;
}

.testimonial-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111111;
}

.testimonial-subtext {
  font-size: 1.25rem;
  color: #111111;
  line-height: 1.5;
  max-width: 670px;
  margin: 0 auto 20px;
}

.main-card {
  position: relative;
  width: 400px;
}
.testimonial-role {
  font-weight: 500;
}
.card-content {
  text-align: start;
  padding: 0px 5px;
  top: 22px;
  left: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
}
p {
  margin: 0;
}
.testimonial-container {
  display: flex;
  /* justify-content: center; */
  gap: 15px;
  overflow-x: auto;
  padding-left: 4rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.testimonial-card {
  border-radius: 12px;
  padding: 20px;

  text-align: center;
  position: relative;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.text-card p {
  margin: 0;
}

.testimonial-icon {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
  width: 50px;
  display: block;
  margin-bottom: 10px;
}

.testimonial-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #111111;
}

.testimonial-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
  text-decoration: none;
  color: white;
  background-color: #3c4142;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.testimonial-review {
  font-size: 16px;
}
